<script src="~/Scripts/KendoGrid/AdminBook.js"></script>
<script src="~/Scripts/KendoGrid/Book.js"></script>

<div id="example">
    <div id="grid"></div>

    <script>
        if ("@User.IsInRole("admin")" == "True") {
            AdminBook()
        }
        else{
            Book()
        }
    </script>
    
</div>

