<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">

    <link href="~/Content/_Layout/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/_Layout/justified-nav.css" rel="stylesheet" />
    <link href="~/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendoui/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/kendoui/styles/kendo.default.mobile.min.css" rel="stylesheet" />

    <script src="~/kendoui/js/jquery.min.js"></script>
    <script src="~/kendoui/js/kendo.all.min.js"></script>
    <script src="~/Scripts/_Layout/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="masthead">
            @RenderSection("scripts", required: false)
            <h3 class="text-muted">Library</h3>

            <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav text-md-center nav-justified w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index/">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Magazine/Index/">Magazines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Brochure/Index/">Brochures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Author/Index/">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/PublicationHouse/Index/">Publication Houses</a>
                        </li>
                        <li style="margin-top:6.5px">@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </nav>
        </header>

        <main role="main">

            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>

        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Library @DateTime.Now.Year</span>
            </div>
        </footer>
    </div>
    
</body>
</html>
