<script src="~/Scripts/KendoGrid/AdminPublicationHouse.js"></script>
<script src="~/Scripts/KendoGrid/PublicationHouse.js"></script>

<div id="example">
    <div id="grid"></div>

    <script>
         if ("@User.IsInRole("admin")" == "True") {
            AdminPublicationHouse()
         }
         else {
             PublicationHouse()
         }
    </script>
</div>
