@using Library.ViewModels.IdentityEnums

<div id="example">
    <div id="grid"></div>
    @if (User.IsInRole(IdentityRolesViewModels.admin.ToString()))
    {
        <script src="~/Scripts/KendoGrid/Author.js"></script>
    }
    else
    {
        <script src="~/Scripts/KendoGrid/AdminAuthor.js"></script>
    }
</div>
